# Ignore everything
/*
/*/

# Except git tidbits
!.gitignore
!.gitattributes

# The actually needed content - part I.
!/Assets/
!/ProjectSettings/

# Fix re-include file from already ignored folder - actually needed content part II.
!/Packages/
/Packages/*
!/Packages/manifest.json

# .csproj files of toitnups
!/.tn/
!/.tn/*/
/.tn/*/*
!/.tn/*/integration.*.csproj
!/.tn/*/integration.*.config.json

# And maybe some readmes
!/readme.md
!/readme.txt